extends ../base

block content
	.jumbotron
		h1 #{name}
		p Welcome to this simple poll website. Create your polls vote on polls by other people and share
			| them with your friends. Hope you will enjoy your stay!!
		.text-center
			a.btn.btn-primary(href="/user/mypolls/") My Polls
			a.btn.btn-warning(href="/poll/add/") Add New Poll