extends ../base

block content
	h1 Login to your account

	div.container
		form(method="post", action="")
			label User name
			input(type="text", name="username")
			label Password
			input(type="password", name="password")
			br
			input(type="submit", value="Login")