extends ../base

block content
	h1.text-center.poll-title Register your self and enjoy adding new polls

	form(method="post", action="")
		.form-group
			label User name
			input.form-control(type="text", name="username", placeholder="username")
		.form-group
			label Email
			input.form-control(type="email", name="email", placeholder="username")
		.form-group
			label Password
			input.form-control(type="password", name="password", placeholder="password")
		.text-center
			button.btn.btn-success.bu-size(type="submit", value="Sign Up") Sign Up